@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* NOTE VALUES */
.rank-main-wrapper * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #363636;
}

/*NOTE Get Started Styles */
.get-started-container {
  display: none;
  /* display: flex; */
  width: 1000px;
  border-radius: 10px;
  padding: 70px 50px;
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.get-started-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.get-started-container .left .logo-container {
  height: 60px;
  width: 276px;
}

.get-started-container .left .logo-container img {
  position: relative;
  height: 40px;
  width: 276px;
}

.get-started-container .left .logo-container p {
  position: relative;
  margin-top: 0px;
  left: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.get-started-container .left .content-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 20px;
}

.get-started-container .left .content-container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.get-started-container .left .content-container h2 span {
  color: #B50000;
}

.get-started-container .left .content-container p {
  height: 63px;
  width: 303px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #363636;
}

.get-started-container .left .content-container p span {
  font-weight: 700;
}

.get-started-container .left .get-started-btn {
  background: -webkit-gradient(linear, left top, right top, from(#ed213a), to(#93291e));
  background: linear-gradient(to right, #ed213a, #93291e);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-transition: 0.5 all ease-in-out;
  transition: 0.5 all ease-in-out;
  width: 50%;
  cursor: pointer;
  color: white;
}

.get-started-container .left .get-started-btn:hover {
  -webkit-animation: loading .3s ease infinite alternate;
          animation: loading .3s ease infinite alternate;
}

.get-started-container .landing-img {
  position: absolute;
  z-index: -50;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

/* NOTE Form Styles */
.form-container {
  display: inherit;
  /* display: inherit; */
  width: 1000px;
  border-radius: 10px;
  padding: 60px 50px;
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
}

.form-container .overlay-wrapper {
  display: none;
  /* display: flex; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background: rgba(255, 255, 255, 0.85);
}

.form-container .overlay-wrapper form {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 20px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #DBDBDB;
}

.form-container .overlay-wrapper form h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.form-container .overlay-wrapper form .buttons {
  margin-top: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.form-container .overlay-wrapper form .buttons button[type=submit] {
  padding: 0 50px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ed213a), to(#93291e));
  background: linear-gradient(to right, #ed213a, #93291e);
  margin-left: auto;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.form-container .overlay-wrapper form .buttons button[type=submit]:hover {
  -webkit-animation: loading .5s ease infinite alternate;
          animation: loading .5s ease infinite alternate;
}

.form-container .overlay-wrapper form .buttons .faq-cancel-btn[type=button]:hover {
  background: #e0e0e0;
}

.form-container .service-areas-overlay form,
.form-container .blog-posts-overlay form {
  width: 800px;
}

.form-container .blog-posts-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container .logo-container {
  margin-bottom: 40px;
}

.form-container .logo-container img {
  height: 40px;
  width: 276px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.form-container .logo-container h2 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-container .logo-container p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.form-container .logo-container p span {
  color: #c43333;
  font-weight: 700;
}

.form-container form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 24px;
  color: #363636;
  margin: 40px 0 20px 0;
}

.form-container form h2 img {
  margin-left: 10px;
  background: #F7F8FA;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out;
}

.form-container form h2 img:hover {
  background: #eeeeee;
}

.form-container form .two-col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 20px;
}

.form-container form .one-col-row {
  margin-bottom: 20px;
}

.form-container form .one-col-row .input-wrapper {
  width: 100%;
}

.form-container form .input-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form .input-wrapper label {
  margin-bottom: 5px;
}

.form-container form .input-wrapper label span {
  color: #B50000;
}

.form-container form .input-wrapper select, .form-container form .input-wrapper input, .form-container form .input-wrapper textarea, .form-container form .input-wrapper button {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  outline: none;
  padding: 0 10px;
}

.form-container form .input-wrapper select:focus, .form-container form .input-wrapper input:focus, .form-container form .input-wrapper textarea:focus, .form-container form .input-wrapper button:focus {
  border: 1px solid #363636;
}

.form-container form .input-wrapper textarea {
  height: 200px;
  padding: 10px;
}

.form-container form .input-wrapper small {
  margin-top: 2px;
  opacity: 0.6;
}

.form-container form .input-wrapper:focus-within small {
  opacity: 1;
}

.form-container form .wiki-entity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container form .wiki-entity div input {
  width: 80%;
  border-radius: 5px 0 0 5px;
}

.form-container form .wiki-entity div button {
  width: 20%;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out;
}

.form-container form .wiki-entity div button:hover {
  background: #eeeeee;
}

.form-container form .faq-url-input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container form .faq-url-input div input {
  width: 100%;
  z-index: 10;
}

.form-container form .faq-url-input div button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  opacity: .6;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.form-container form .faq-url-input div button:hover {
  background: #eeeeee;
  opacity: 1;
}

.form-container form .faq-url-input div button:focus, .form-container form .faq-url-input div button:active {
  outline: none;
  border: none;
}

.form-container form .faq-url-input:focus-within button {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form-container form .action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  margin-left: 10px;
  border: none;
  opacity: .6;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  cursor: pointer;
  border-radius: 2px;
}

.form-container form .action-button:hover {
  background: #eeeeee;
  opacity: 1;
}

.form-container form .action-button img {
  width: 18px;
  height: 18px;
}

.form-container form .faqs-container .faq {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container form .faqs-container .faq .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.form-container form .faqs-container .faq .head h3 {
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-container form .faqs-container .faq p {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.form-container form .about-pages-container .about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container form .about-pages-container .about-page p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.form-container form .contact-pages-container .contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container form .contact-pages-container .contact-page p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.form-container form .service-pages-container .service-page {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.form-container form .service-pages-container .service-page .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.form-container form .service-pages-container .service-page .head p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.form-container form .service-pages-container .service-page .head p span {
  font-weight: 600;
}

.form-container form .service-area-pages-container .service-area-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container form .service-area-pages-container .service-area-page p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.form-container form .service-area-pages-container .service-area-page p span {
  font-weight: 600;
}

.form-container form .blog-post-pages-container .blog-post-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #F7F8FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container form .blog-post-pages-container .blog-post-page .image-wrapper {
  width: 85px;
  height: 85px;
  background: #eeeeee;
  margin-right: 10px;
}

.form-container form .blog-post-pages-container .blog-post-page .image-wrapper img {
  width: 85px;
  height: 85px;
}

.form-container form .blog-post-pages-container .blog-post-page .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 89%;
}

.form-container form .blog-post-pages-container .blog-post-page .content-wrapper .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin-bottom: 5px;
}

.form-container form .blog-post-pages-container .blog-post-page .content-wrapper .head h3 {
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-container form .blog-post-pages-container .blog-post-page .content-wrapper p {
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.form-container form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 60px;
}

.form-container form .buttons button {
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-container form .buttons .submit {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ed213a), to(#93291e));
  background: linear-gradient(to right, #ed213a, #93291e);
  margin-left: auto;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.form-container form .buttons .submit:hover {
  -webkit-animation: loading .5s ease infinite alternate;
          animation: loading .5s ease infinite alternate;
}

.form-container form .buttons .draft:hover {
  background: #e0e0e0;
}

/* NOTE Build Loading Screen Styles */
.building-load {
  display: none;
  /* display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  border-radius: 10px;
  padding: 60px 50px;
  margin: 10px;
  background: white;
  -webkit-box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
}

.building-load .brand {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.building-load .brand img {
  height: 40px;
  width: 276px;
}

.building-load .brand p {
  margin-top: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.building-load .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.building-load .content h2 {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.building-load .content h2 b {
  color: #B50000;
}

.building-load .content .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin-bottom: 20px;
}

.building-load .content .loader .indicator {
  background: #B50000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: building .6s ease infinite alternate;
          animation: building .6s ease infinite alternate;
}

.building-load .content .loader .middle {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.building-load .content .loader .last {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.active-screen {
  display: none;
  /* display: flex; */
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  border-radius: 10px;
  padding: 60px 50px;
  margin: 10px;
  background: white;
  color: #363636;
  -webkit-box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
}

.active-screen .brand {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.active-screen .brand img {
  height: 40px;
  width: 276px;
}

.active-screen .brand p {
  margin-top: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.active-screen .text .title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  color: #B50000;
}

.active-screen .text p {
  text-align: center;
}

.active-screen .status {
  font-weight: 900;
  font-size: 24px;
  color: #389D48;
  -webkit-animation: loading .4s ease infinite alternate;
          animation: loading .4s ease infinite alternate;
}

.active-screen button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  height: 40px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #F7F8FA;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  padding: 0 70px;
}

.active-screen button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #E2E2E2;
}

/* NOTE KEYFRAMES */
@-webkit-keyframes loading {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}
@keyframes loading {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@-webkit-keyframes building {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes building {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
/*# sourceMappingURL=styles.css.map */