@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* NOTE VALUES */
$accentRed: #B50000;
$primaryGrey: #363636;
$buttonGradient: linear-gradient(to right, #ed213a, #93291e);
$backgroundLightGrey: #F7F8FA;
$activeGreen: #389D48;

.rank-main-wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: $primaryGrey;

    &::-webkit-scrollbar-track {
        background-color: $backgroundLightGrey;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: $backgroundLightGrey;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primaryGrey;
    }

    .notice-container {
        display: flex;
        padding: 0 20px;
        margin-left: 50px;
        background: #363636;
    }
}

/*NOTE Get Started Styles */
.get-started-container {
    display: none;
    /* display: flex; */
    width: 1000px;
    border-radius: 10px;
    padding: 70px 50px;
    margin: 10px;
    background: #fff;
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.9;

    .left {
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        .logo-container {
            height: 60px;
            width: 276px;

            img {
                position: relative;
                height: 40px;
                width: 276px;
            }

            p{
                position: relative;
                margin-top: 0px;
                left: 2px;
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
            }
        }

        .content-container {
            h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 64px;
                margin-bottom: 20px;
            }

            h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;

                span {
                    color: #B50000;
                }
            }

            p {
                height: 63px;
                width: 303px;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: $primaryGrey;
                
                span {
                    font-weight: 700;
                }
            }
        }

        .get-started-btn {
            background: $buttonGradient;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            padding: 8px 40px;
            border-radius: 20px;
            border: none;
            outline: none;
            font-size: 16px;
            transition: 0.5 all ease-in-out;
            width: 50%;
            cursor: pointer;
            color: white;

            &:hover {
                animation: loading .3s ease infinite alternate;
            }
        }
    }

    .landing-img {
        position: absolute;
        z-index: -50;
        transform: translateX(300px);
    }
}

/* NOTE Form Styles */
.form-container {
    display: none;
    /* display: inherit; */
    width: 1000px;
    border-radius: 10px;
    padding: 60px 50px;
    margin: 10px;
    background: #fff;
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);

    .overlay-wrapper {
        display: none;
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 20;
        background: rgba(255, 255, 255, 0.85);

        form {
            width: 500px;
            display: flex;
            flex-direction: column;
            background: white;
            padding: 20px 40px;
            border-radius: 5px;
            box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);
            border: 1px solid #DBDBDB;

            max-height: 85vh;
            overflow-y: auto;

            h2 {
                margin: 0;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
            }

            .buttons {
                margin-top: 20px;
                column-gap: 10px;

                button[type=submit] {
                    padding: 0 50px;
                    color: #fff;
                    background: $buttonGradient;
                    margin-left: auto;
                    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);

                    &:hover {
                        animation: loading .5s ease infinite alternate;
                    }
                }

                .cancel-btn[type=button]:hover {
                    background: #e0e0e0;
                }
            }
        }
    }

    .service-areas-overlay,
    .blog-posts-overlay {
        form {
            width: 800px;
        }
    }

    .logo-container {
        margin-bottom: 40px;

        img {
            height: 40px;
            width: 276px;
            transform: translateX(-5px);
        }

        h2 {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;

            span {
                color: #c43333;
                font-weight: 700;
            }
        }
    }

    form {

        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-weight: 600;
            font-size: 24px;
            color: $primaryGrey;
            margin: 60px 0 30px 0;

            img {
                margin-left: 10px;
                background: $backgroundLightGrey;
                padding: 5px;
                cursor: pointer;
                border-radius: 5px;
                transition: .2s background ease-in-out;

                &:hover {
                    background: #eeeeee;
                }
            }
        }


        .three-col-row {
            display: flex;
            column-gap: 20px;
            margin-bottom: 20px;

            .input-wrapper {
                width: 33.3%;
            }
        }

        .two-col-row {
            display: flex;
            column-gap: 20px;
            margin-bottom: 20px;

            .input-wrapper {
                width: 50%;
            }
        }

        .one-col-row {
            margin-bottom: 20px;

            .input-wrapper {
                width: 100%;
            }
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;

            label{
                margin-bottom: 5px;

                span {
                    color: $accentRed;
                }
            }

            select, input, textarea, button {
                height: 40px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                outline: none;
                padding: 0 10px;

                &:focus {
                    border: 1px solid #363636;
                }
            }

            textarea {
                height: 200px;
                padding: 10px;
            }

            small {
                margin-top: 2px;
                opacity: 0.6;
            }

            &:focus-within {
                small {
                    opacity: 1;
                }
            }
        }

        .wiki-entity {
            div {
                display: flex;

                input {
                    width: 80%;
                    border-radius: 5px 0 0 5px;
                }

                button {
                    width: 20%;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    transition: .2s background ease-in-out;

                    &:hover {
                        background: #eeeeee;
                    }
                }
            }
        }

        .faq-url-input {
            div {
                display: flex;

                input {
                    width: 100%;
                    z-index: 10;
                }

                button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    margin-left: 10px;

                    transition: .3s all ease-in-out;
                    transform: translateX(-50px);

                    &:hover {
                        background: #eeeeee;
                        opacity: 1;
                    }

                    &:focus, &:active {
                        outline: none;
                        border: none;
                    }
                }
            }
        }

        .action-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2px;
            margin-left: 10px;
            border: none;
            opacity: .2;
            transition: .3s all ease-in-out;
            cursor: pointer;
            border-radius: 2px;

            &:hover {
                background: #eeeeee;
                opacity: 1;
            }

            img {
                width: 18px;
                height: 18px;
            }
        }

        .faqs-container {
            .faq {
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;
                
                .head {
                    display: flex;
                    margin-bottom: 5px;

                    h3 {
                        font-weight: 600;
                        font-size: 14px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                p {
                    font-size: 14px;
                    text-align: justify;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .about-pages-container {
            .about-page {
                display: flex;
                align-items: center;
                
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;

                p {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }
        }

        .contact-pages-container {
            .contact-page {
                display: flex;
                align-items: center;

                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;

                p {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                }
            }
        }

        .service-pages-container {
            .service-page {
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px 10px 0 10px;
                margin-bottom: 10px;

                .head {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    p {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 14px;

                        span {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .service-area-pages-container {
            .service-area-page {
                display: flex;
                align-items: center;

                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;

                p {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        .blog-post-pages-container {
            .blog-post-page {
                display: flex;
                align-items: flex-start;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-color: $backgroundLightGrey;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 10px;

                .image-wrapper {
                    width: 85px;
                    height: 85px;
                    background: #eeeeee;
                    margin-right: 10px;
                    
                    img {
                        object-fit: cover;
                        width: 85px;
                        height: 85px;
                    }
                }

                .content-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 89%;
                    
                    .head {
                        display: flex;
                       align-items: center;
                        align-items: center;
                        margin-bottom: 5px;

                        h3 {
                            font-weight: 600;
                            font-size: 14px;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    p {
                        font-size: 14px;
                        text-align: justify;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-top: 60px;

            button {
                cursor: pointer;
                transition: 0.3s all ease-in-out;
                font-size: 16px;
                font-weight: 600;
                height: 40px;
                padding: 0 20px;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            .submit {
                color: #fff;
                background: $buttonGradient;
                margin-left: auto;
                box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);

                &:hover {
                    animation: loading .5s ease infinite alternate;
                }
            }

            .draft:hover {
                background: #e0e0e0;
            }
        }
    }
}

/* NOTE Build Loading Screen Styles */
.building-load {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    border-radius: 10px;
    padding: 60px 50px;
    margin: 10px;
    background: white;
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);

    .brand {
        flex-direction: column;
        margin-bottom: 80px;

        img {
           height: 40px;
           width: 276px;
        }

        p {
            margin-top: 0;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            font-size: 14px;
            font-weight: 500;

            b {
                color: $accentRed;
            }
        }

        .loader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100px;
            margin-bottom: 20px;

            .indicator {
                background: $accentRed;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                animation: building .6s ease infinite alternate;
            }

            .middle {
                animation-delay: .2s;
            }

            .last {
                animation-delay: .4s;
            }
        }
    }
}

/* NOTE Active Scree Styles */
.active-screen {
    display: none;
    /* display: flex; */
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    border-radius: 10px;
    padding: 60px 50px;
    margin: 10px;
    background: white;
    color: $primaryGrey;
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.25);

    .brand {
        flex-direction: column;
        margin-bottom: 40px;

        img {
            height: 40px;
            width: 276px;
        }

        p {
            margin-top: 0;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .text {
        .title {
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            color: $accentRed;
        }

        p {
            text-align: center;
        }
    }

    .status {
        font-weight: 900;
        font-size: 24px;
        color: $activeGreen;
        animation: loading .4s ease infinite alternate;
    }

    button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: $primaryGrey;
        height: 40px;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        background:$backgroundLightGrey;
        transition: .2s all ease-in-out;
        padding: 0 70px;

        &:hover {
            transform: scale(1.05);
            background: #E2E2E2;
        }
    }
}

/* NOTE KEYFRAMES */
@keyframes loading {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

@keyframes building {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}